//what people loved
.What-people-loved {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-block-end: rem(25px);

    h2 {

        color: $clr3;
        font-size: rem(20px);
    }

    button {
        margin: 0;
        font-size: rem(14px);
        padding: 0;
        background: transparent;
        color: #1dbf73;
        font-weight: 400;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        position: relative;
        text-align: center;
        text-decoration: none;
    }
}

.review-list-container {
    border: rem(1px) solid $clr15;
    border-radius: 0.25em;
    padding: 1em 1.5em;
    height: rem(133px);
    margin-bottom: rem(64px);
}


.review-snippet-temporary {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "img details"
        ". review";

    .reviewer-img {
        margin: 0.25em 1.25em 0 0.25em;
        width: rem(32px);
        height: rem(32px);
    }

    .reviewer-details .username {
        line-height: 140%;
        margin-inline-end: 0.75em;
        margin-block-end: 0;
    }

    .stars{
        margin: rem(2px) 0 0 0.5714285714em
    }

    .stars >*{
        padding: 0;
        margin:0;
        padding-inline-end: rem(2px);
    }

    .rating-score {
        padding-top: rem(1.5px);
        font-size: .875rem;
        line-height: rem(19px);
        border-inline-end: none;
    }
     .review-content {
        grid-area: review;
        margin-block-start: 0;
        margin: 0 0 0 rem(4px);
        font-size: .875rem;
        line-height: 1.7142857143em;

        .review-description {
            font-size: rem(16px);
            padding: rem(2px) 0;
            margin: 0;
            color: #62646a;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .reviewed-at {
            padding-inline-start: 0;
            color: $clr9;
        }
    }
}