.bgc-user-profile {
    background-color: #eeeeee;
}

.user-profile {
    // display: grid;
    // grid-template-columns: minmax(auto, 400px) minmax(auto, 1000px);
    // gap: rem(20px);
    min-height: 90vh;

    .user-card {
        margin: rem(10px);
        background-color: $clr2;
        // width: 26.75rem;
        width: 22.75rem;
        height: rem(260px);
        margin-top: rem(20px);
        outline: 1px solid rgb(225, 225, 225);

        .form-user-profile {
            grid-column: 1;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            width: 100%;

            h2 {
                margin-bottom: 15px;
            }

            .user-img {
                img {
                    border-radius: 50%;
                    margin-top: 24px;
                    width: rem(120px);

                }

                svg {
                    cursor: pointer;
                    margin-top: rem(10px);
                    width: rem(120px);
                }
            }
        }

        .user-details {
            padding-left: rem(10px);

            p {
                font-family: macan-regular;
                line-height: 1.7em;
                color: $clr9;
                width: 100%;
            }

            svg {
                width: rem(16px);
                margin-inline-end: rem(10px);
                color: $clr9;
            }
        }
    }

    .description-card {
        margin: rem(10px);
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: $clr2;
        // width: 26.75rem;
        width: 22.75rem;
        // height: 380px;
        height: 100%;
        padding: 20px;
        outline: 1px solid rgb(225, 225, 225);

        .user-description-text {
            letter-spacing: .005em;
            margin-block-start: 0.5em;
            font-family: macan-regular;
            color: #62646a;
        }
    }

    .tabs-side {
        // grid-column: 2;

        .tab-btns {
            margin-bottom: 15px;
            // margin-left: 10px;
            // width: 428px;
            // margin: rem(20px);
            background-color: $clr2;
            height: rem(50px);
            display: flex;
            gap: 10px;
            outline: 1px solid rgb(225, 225, 225);

            button {
                cursor: pointer;
                height: rem(45px);
                background-color: $clr2;
                border: none;
                font-family: macan-regular;
                font-size: 1rem;
                font-weight: 600;
                color: $clr5;
            }
            a {
                color: $clr13;
            }
        }

        .gigs-tabs {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;

            ul {
                flex-wrap: wrap;
                justify-content: center;
                gap: 45px;
            }

            .gigs-user {
                width: 284px;
                background-color: #fff;

                .card-new-gig {
                    cursor: pointer;
                    height: 366px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        color: $clr4;
                    }
                }

                .btn-add-gig {
                    margin-top: rem(135px);
                    color: $clr2;
                    width: 65px;
                    height: 65px;
                    background-color: #78cdd2;
                    font-size: 3rem;
                    border-radius: 10.4375em;
                    line-height: 70px;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
        }

        .card-orders {
            grid-column: 1/-1;
            background-color: $clr2;
            display: flex;
            justify-content: space-between;
            // padding: 10px;
            // margin: 1.25rem;
            width: 345px;

            img.user-img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }

            .user-gig img {
                width: 300px;
                height: 215px;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                >* {
                    margin: 10px;
                }
            }
        }
    }
}

.selected-tab {
    box-shadow: inset 0 -4px $clr0;
}


@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 900px) {
    .user-profile {
        display: grid;
        grid-template-columns: minmax(auto, 400px) minmax(auto, 1000px);
        gap: rem(20px);

        .user-card, 
        .description-card {
            width: rem(380px);
            height: rem(260px);
        }

        .description-card {
            height: 380px;

        }

        .tabs-side {
            grid-column: 2;

            .tab-btns {
                margin: rem(20px);
                width: auto;
            }

        }



    }

}

@media only screen and (min-width: 1400px) {}